
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@400;900&display=swap');

body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.bg {
    background-color: white;
}

h1, h2 {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
}